@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: "Manrope", sans-serif;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
      appearance: none;
    height: 6px;
    cursor: pointer;
    background: #10B981;
    box-shadow: -2000px 0px 0px 1997px #10B981;
    border-radius: 50%;
  }
}


